body {
	font-family: "Helvetica";
}

.footer {
	text-align: center;
	color: #A4A4A4;
	width: 300px;
	height: 30px;
	margin-left: auto;
	margin-right: auto;
}

.page-header {
	text-align: center;
	font-size: 55px;
	width: 100%;
	padding-top: 40px;
}

.page-accounts {
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
}

.page-account-svg {
	width: 30px;
	height: 30px;
	padding-left: 12px;
	padding-right: 12px;
}

svg:hover path {
	fill: #55ACEE;
}

.page-links {
	text-align: center;
	font-size: 25px;
	padding-bottom: 60px;
}

.about-paragraph {
	width: 800px;
	margin-left: auto;
	margin-right: auto;
}

.app-container {
	width: 100%;
	max-width: 1500px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	position: relative;
}

.app {
	float: center;
	display: inline-block;
	width: 300px;
	height: 750px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 30px;
	padding-right: 30px;
	vertical-align: top;
}

.app-screenshot {
	height: 400px;
	width: 100%;
	float: center;
}

.description {
	width: 100%;
	float: center;
}

.noscreenshot-description {
	float: center;
	display: inline-block;
	width: 300px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 30px;
	padding-right: 30px;
	vertical-align: top;
}

.description-header {
	height: 70px;
	text-align: center;
}

.description-icon {
	float: center;
	width: 45px;
	display: inline-block;
	vertical-align: middle;
}

.description-heading {
	float: center;
	display: inline-block;
	vertical-align: middle;
	padding-left: 10px;
}

.description-block {
	text-align: justify;
}

.description-links-container {
	text-align: center;
}

a:link {
	text-decoration:none;
	color: #0268BD;
}

a:visited {
	color: #0268BD;
}

a:hover {
    text-decoration: underline;
}