.app-icon {
	background-size: 100% 100%;
	cursor: pointer;
	border-radius: 17.544%;
	-webkit-mask-repeat: no-repeat;
	-webkit-mask-size: 100% 100%;
	-webkit-mask-image: url('./resources/icongenerator/ios7-icon.svg');
	max-width:300px;
	max-height:300px;
	visibility:hidden;
}