.app-container {
	width: 100%;
	max-width: 1500px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.app {
	float: center;
	display: inline-block;
	width: 100%;
	max-width: 300px;
	margin-right: 15px;
	margin-bottom: 40px;
	vertical-align: top;
}

.app-screenshot {
	max-height: 400px;
	max-width: 300px;
	height: 400px;
	width: auto;
	float: center;
}

.small-screenshot-img {
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

.description {
	width: 100%;
	float: center;
}

.description-header {
	height: 70px;
	text-align: center;
	padding-top: 30px;
}

.description-icon {
	float: center;
	width: 45px;
	height: 45px;
	display: inline;
	vertical-align: middle;
	margin: auto;
}

.description-heading {
	float: center;
	height: 40px;
	display: inline;
	vertical-align: middle;
	padding-left: 10px;
	margin-top: auto;
	margin-bottom: auto;
}

.description-block {
	text-align: justify;
}

.description-links-container {
	margin-top: 15px;
	text-align: center;
}

.external-link {
	text-align: center;
	float: center;
	display: inline-block;
}

.external-link-image {
	max-width: 30px;
	max-height: 30px;
	margin-bottom: 5px;
}